.community-img {
    border-radius: 1rem;
    width: 15rem !important;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease;
}

.community-img:hover {
    transform: scale(1.1);
}

.wrapper-img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 6rem !important;
}

@media (max-width: 992px) {
    .wrapper-img {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 4rem !important;
        align-items: center;
    }
}
